.button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.button:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

AnchorPane:hover {
    -fx-background-color: transparent;
    -fx-translate-y: -20;
}

.skillName {
    -fx-alignment: center;
    -fx-text-fill: #FFFFFF;
}

.skillDesc {
    -fx-wrap-text: true;
    -fx-text-fill: #FFFFFF;
}
